## DO YOU READ?
##### A Goodreads-data analysis

# Businesss Understanding

We all have been working/studying/staying at home since march (at least that's my case).

This pandemic has been very hard for everyone. Not able to go out, meet friends and organize/attend parties! Well, I don't do that on regular days anyway :P

To cope up with stress/boredom I decided to read! Well, I used to read before too, but during this lockdown, I found enough time to read than usual days. Somehow I read 37 books. Yeah, that's not a huge number of books, I know! But my whole life I have read somewhat around 45 books only. And compared to that I think it's a huge achievement for me and now I try to read more often.

As most of you might have already heard what they say about reading - "its an escape from reality", yes, it's true. Do you have any idea how many places I have visited while just sitting at home? :P

I have visited London, New York, Banglore (just to name a few) without even going out! You see the magic right?

Now that I have expressed my love for books, let me tell you what actually this article is going to be about. Currently, I have enrolled myself in a Nano Degree program at Udacity and my first project is to write a Data Science blog post. In which, I have to choose a dataset and perform certain analysis. And guess what? I decided to choose this Goodreads-books dataset.

# Data Understanding
Okay wait, before we begin we need to understand the what type of data/values we are going to deal with

You can get this dataset from  <a href = "https://www.kaggle.com/jealousleopard/goodreadsbooks">  Kaggle </a>.

Let the analysis begin and may the DATA be in your favour! :P (Did you get it?)

## Import necessary libraires

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')
sns.set()

## Import the dataset

In [2]:
books = pd.read_csv('books.csv', error_bad_lines = False)

b'Skipping line 3350: expected 12 fields, saw 13\nSkipping line 4704: expected 12 fields, saw 13\nSkipping line 5879: expected 12 fields, saw 13\nSkipping line 8981: expected 12 fields, saw 13\n'

## Let's check the number of rows and columns in our dataset

In [3]:
print("There are ", books.shape[0], "number of ROWS and ", 
      books.shape[1], "number of COLUMNS!")

There are  11123 number of ROWS and  12 number of COLUMNS!

In [4]:
books.head()

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,12,The Ultimate Hitchhiker's Guide: Five Complete...,Douglas Adams,4.38,0517226952,9780517226957,eng,815,3628,254,11/1/2005,Gramercy Books
1,13,The Ultimate Hitchhiker's Guide to the Galaxy ...,Douglas Adams,4.38,0345453743,9780345453747,eng,815,249558,4080,4/30/2002,Del Rey Books
2,14,The Hitchhiker's Guide to the Galaxy (Hitchhik...,Douglas Adams,4.22,1400052920,9781400052929,eng,215,4930,460,8/3/2004,Crown
3,16,The Hitchhiker's Guide to the Galaxy (Hitchhik...,Douglas Adams/Stephen Fry,4.22,0739322206,9780739322208,eng,6,1266,253,3/23/2005,Random House Audio
4,18,The Ultimate Hitchhiker's Guide (Hitchhiker's ...,Douglas Adams,4.38,0517149257,9780517149256,eng,815,2877,195,1/17/1996,Wings Books

In [5]:
books.sample(n = 5)

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
3884,13876,Dear God Help!!! Love Earl,Barbara Park/Kenneth Lafreniere,3.97,0679853952,9780679853954,eng,144,37,4,7/11/2006,Yearling
631,2052,The Big Sleep (Philip Marlowe #1),Raymond Chandler,4.01,0394758285,9780394758282,eng,231,103400,4076,7/12/1988,Vintage Crime
1562,5371,Amber Brown Is Not a Crayon,Paula Danziger/Tony Ross,3.84,0142406198,9780142406199,eng,96,4787,189,9/7/2006,Puffin Books
8917,34521,Only You Can Save Mankind (Johnny Maxwell #1),Terry Pratchett,3.72,0060541873,9780060541873,eng,210,9778,317,7/25/2006,HarperTrophy
5886,22186,Would I Lie to You (Gossip Girl #10),Cecily von Ziegesar,3.59,0316011835,9780316011839,eng,192,7948,135,10/4/2006,Little Brown Young Readers

## Check for the variables in this dataset

In [6]:
books.columns

Index(['bookID', 'title', 'authors', 'average_rating', 'isbn', 'isbn13',
       'language_code', '  num_pages', 'ratings_count', 'text_reviews_count',
       'publication_date', 'publisher'],
      dtype='object')

## Let's describe our data

In [7]:
books.describe()

,bookID,average_rating,isbn13,num_pages,ratings_count,text_reviews_count
count,11123.000000,11123.000000,1.112300e+04,11123.000000,1.112300e+04,11123.000000
mean,21310.856963,3.934075,9.759880e+12,336.405556,1.794285e+04,542.048099
std,13094.727252,0.350485,4.429758e+11,241.152626,1.124992e+05,2576.619589
min,1.000000,0.000000,8.987060e+09,0.000000,0.000000e+00,0.000000
25%,10277.500000,3.770000,9.780345e+12,192.000000,1.040000e+02,9.000000
50%,20287.000000,3.960000,9.780582e+12,299.000000,7.450000e+02,47.000000
75%,32104.500000,4.140000,9.780872e+12,416.000000,5.000500e+03,238.000000
max,45641.000000,5.000000,9.790008e+12,6576.000000,4.597666e+06,94265.000000

In [8]:
books.describe(include = "all")

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
count,11123.000000,11123,11123,11123.000000,11123,1.112300e+04,11123,11123.000000,1.112300e+04,11123.000000,11123,11123
unique,NaN,10348,6639,NaN,11123,NaN,27,NaN,NaN,NaN,3679,2290
top,NaN,The Brothers Karamazov,P.G. Wodehouse,NaN,0674995961,NaN,eng,NaN,NaN,NaN,10/1/2005,Vintage
freq,NaN,9,40,NaN,1,NaN,8908,NaN,NaN,NaN,56,318
mean,21310.856963,NaN,NaN,3.934075,NaN,9.759880e+12,NaN,336.405556,1.794285e+04,542.048099,NaN,NaN
std,13094.727252,NaN,NaN,0.350485,NaN,4.429758e+11,NaN,241.152626,1.124992e+05,2576.619589,NaN,NaN
min,1.000000,NaN,NaN,0.000000,NaN,8.987060e+09,NaN,0.000000,0.000000e+00,0.000000,NaN,NaN
25%,10277.500000,NaN,NaN,3.770000,NaN,9.780345e+12,NaN,192.000000,1.040000e+02,9.000000,NaN,NaN
50%,20287.000000,NaN,NaN,3.960000,NaN,9.780582e+12,NaN,299.000000,7.450000e+02,47.000000,NaN,NaN
75%,32104.500000,NaN,NaN,4.140000,NaN,9.780872e+12,NaN,416.000000,5.000500e+03,238.000000,NaN,NaN
max,45641.000000,NaN,NaN,5.000000,NaN,9.790008e+12,NaN,6576.000000,4.597666e+06,94265.000000,NaN,NaN

# Prepare the data

There are so many reasons why we should prepare the data before actually using it for our analysis. And one of the main reasons would be to ensure that it does not give us inconsitent results

## Check the datatypes of the data

In [9]:
books.dtypes

bookID                  int64
title                  object
authors                object
average_rating        float64
isbn                   object
isbn13                  int64
language_code          object
  num_pages             int64
ratings_count           int64
text_reviews_count      int64
publication_date       object
publisher              object
dtype: object

In [10]:
# renaming the column ' num_pages' to 'num_pages' (just removing the space from the column name)
books.columns = ['bookID', 'title', 'authors', 'average_rating', 'isbn', 'isbn13',
       'language_code', 'num_pages', 'ratings_count', 'text_reviews_count',
       'publication_date', 'publisher']
books.columns

Index(['bookID', 'title', 'authors', 'average_rating', 'isbn', 'isbn13',
       'language_code', 'num_pages', 'ratings_count', 'text_reviews_count',
       'publication_date', 'publisher'],
      dtype='object')

## Adjust the datatypes of the data

In [11]:
books.title = books.title.astype('category')

books.authors = books.authors.astype('category')

books.language_code  = books.language_code.astype('category')

books.publication_date = [d.date() for d in pd.to_datetime(books.publication_date.astype(str), format='%M/%d/%Y')]

books.publisher  = books.publisher.astype('category')

In [12]:
books.dtypes

bookID                   int64
title                 category
authors               category
average_rating         float64
isbn                    object
isbn13                   int64
language_code         category
num_pages                int64
ratings_count            int64
text_reviews_count       int64
publication_date        object
publisher             category
dtype: object

## Check for null values

In [13]:
books.isnull().sum()

bookID                0
title                 0
authors               0
average_rating        0
isbn                  0
isbn13                0
language_code         0
num_pages             0
ratings_count         0
text_reviews_count    0
publication_date      0
publisher             0
dtype: int64

As we checked before there were no missing values, so nothing to worry about that!

## Questions I want to uncover using this data :

##### 1. Do books from certain publisher/authors tend to have high ratings? If yes, does this mean that most people have read books from those specific publishers/authors?

##### Part 1 : Do books from certain publisher/author tend to have high ratings?

In [26]:
def calculate(df, val, criteria, col, features, agg_fun, sort_asc, sort_val):
    """
        description : this method uses groupby method for certain calculations
        args:
            df : dataframe
            val : value required to satisfy certain condition
            criteria : '=' or '>='
            features : columns that liked to be retrieved
            agg_fun : 'sum' or 'mean'
            sort_asc : True or False (whether to sort ascending (True) or descending(false))
            sort_val : to sort by particular column   
        returns : new dataframe generated according to the criteria
    """
    
    calculate = pd.DataFrame()
    if(agg_fun == 'sum'):
        calculate = df.groupby(col, as_index = False)[features].sum().sort_values(ascending = sort_asc, by = sort_val).reset_index(drop=True)
    elif(agg_fun == 'mean'):
        calculate = df.groupby(col, as_index = False)[features].mean().sort_values(ascending = sort_asc, by = sort_val).reset_index(drop=True)
    
    if(criteria == '='):
        calculate = calculate[calculate[sort_val] == val]
    elif(criteria == '>='):
        calculate = calculate[calculate[sort_val] >= val]
    return calculate
 

def plot(df, title, x_col, y_col ):
    """
        description : used to plot the data
        args:
            title : title of the plot
            x_col : x-axis column values
            y_col : y-axis column values
    """
        
    df.plot.bar(x=x_col, y = y_col)
    t = x_col.upper() + " with " + "title " 
    plt.title(t)
    plt.rcParams['figure.figsize'] = [16 , 10]
    plt.rcParams['axes.titlesize'] = 30
    plt.rcParams['xtick.labelsize'] = 30
    plt.rcParams['ytick.labelsize'] = 30
    plt.xlabel(x_col.upper() , fontsize=30)
    plt.ylabel(title.upper(), fontsize=30);
    
    
def plot_criteria(df, title, x_col, y_col, val, criteria):
    """
        description : used to plot the data
        args:
            title : title of the plot
            x_col : x-axis column values
            y_col : y-axis column values
            val : value for which the data is being visualized
            criteria : '=' or '>='
    """
    
    df.plot.bar(x=x_col, y = y_col);
    t = x_col.upper() + " with " + "title " + str(criteria) + " " + str(val)
    plt.title(t)
    plt.rcParams['figure.figsize'] = [16 , 10]
    plt.rcParams['axes.titlesize'] = 30
    plt.rcParams['xtick.labelsize'] = 30
    plt.rcParams['ytick.labelsize'] = 30
    plt.xlabel(x_col.upper() , fontsize=30)
    plt.ylabel(title.upper(), fontsize=30);
    
def plot_adjust_ylim_vals(df, title, x_col, y_col,  val, criteria, ylim_val1, yim_val2,):
    """
        description : used to plot the data
        args:
            title : title of the plot
            x_col : x-axis column values
            y_col : y-axis column values
            val : value for which the data is being visualized
            criteria : '=' or '>='
            ylim_val1 : starting point for y limit value
            ylim_val2 : starting point for y limit value
    """
    
    df.plot.bar(x=x_col, y = y_col);
    t = x_col.upper() + " with " + "title " + str(criteria) + " " + str(val)
    plt.title(title)
    plt.rcParams['figure.figsize'] = [16 , 10]
    plt.ylim(4.5, 5.0 )
    plt.rcParams['axes.titlesize'] = 30
    plt.rcParams['xtick.labelsize'] = 30
    plt.rcParams['ytick.labelsize'] = 30
    plt.xlabel(x_col.upper() , fontsize=30)
    plt.ylabel(title.upper(), fontsize=30);

In [ ]:
print("Publishers who have their mean average ratings = 5 : \n\n")
publisher_avg_rating_5 = calculate(books, 5, '=', 'publisher', ['publisher', 'average_rating'], 'mean', False, 'average_rating')
publisher_avg_rating_5

In [ ]:
plot_criteria(publisher_avg_rating_5, "mean average rating", 'publisher', 'average_rating', 5, '=')

In [ ]:
print("\n\nPublishers who have their mean average ratings >= 4.7 : \n\n")
publisher_avg_rating_grte_4_7 = calculate(books, 4.7, '>=', 'publisher', [ 'average_rating'], 'mean', False, 'average_rating')
publisher_avg_rating_grte_4_7.reset_index(drop = True)

In [ ]:
plot_criteria(publisher_avg_rating_grte_4_7, 'mean average rating', 'publisher', 'average_rating', 4.7, '>=')

#### After adjusting the y-axis values

In [ ]:
plot_adjust_ylim_vals(publisher_avg_rating_grte_4_7, 'mean average rating', 'publisher', 'average_rating', 4.7, '>=', 4.5, 5.0)

In [ ]:
author_avg_rating_5 = calculate(books, 5, '=', 'authors',['average_rating'],  'mean', False, 'average_rating')
print("\n\nAuthors who have their mean of average ratings = 5 : \n\n")
author_avg_rating_5.reset_index(drop = True)

In [ ]:
print("\n\Authors who have their mean average ratings >= 4.7 : \n\n")
author_avg_rating_grte_4_7 = calculate(books, 4.7, '>=', 'authors', ['authors', 'average_rating'], 'mean', False, 'average_rating')
author_avg_rating_grte_4_7

In [ ]:
plot_criteria(author_avg_rating_grte_4_7, 'mean average rating', 'authors', 'average_rating', 4.7, '>=')

#### After adjusting the y-axis values

In [ ]:
plot_adjust_ylim_vals(author_avg_rating_grte_4_7,  'mean average rating', 'authors', 'average_rating', 4.7, '>=',  4.5, 5.0)

##### Part 2: If yes, does this mean that most people have read books from those specific publishers/authors?

In [ ]:
print("\nPUBLISHER :\n")
print("\nWith total rating counts >= 1.5m : \n\n")
publisher_ratings_count_1_5m = calculate(books, 1500000, '>=', 'publisher',  ['ratings_count'], 'sum', False, 'ratings_count')
publisher_ratings_count_1_5m

In [ ]:

plot_criteria(publisher_ratings_count_1_5m, 'total ratings count', 'publisher', 'ratings_count', '1.5m', '>=')

In [ ]:
print("\nAUTHORS :\n")
print("\nWith total rating counts >= 1.5m : \n\n")
author_ratings_count_1_5m = calculate(books, 1500000, '>=', 'authors',  ['ratings_count'], 'sum', False, 'ratings_count') #df, val, criteria, col, features, agg_fun, sort_asc, sort_val
author_ratings_count_1_5m

In [ ]:
plot_criteria(author_ratings_count_1_5m, 'total ratings count', 'authors', 'ratings_count', '1.5m', '>=') #df, title, x_col, y_col, val, criteria

##### 2. Books from which year has more ratings count?

In [ ]:
pub_date_ratings_count = books.groupby(['publication_date'], as_index = False)['ratings_count'].sum().sort_values(ascending = False, by ='ratings_count')
pub_date_ratings_count['year'] = [d.year for d in pub_date_ratings_count.publication_date]
pub_date_ratings_count = pub_date_ratings_count.groupby(['year'], as_index = False)['ratings_count'].sum().sort_values(ascending = True, by ='year')
pub_date_ratings_count_1m = pub_date_ratings_count[pub_date_ratings_count.ratings_count >= 1500000]

In [ ]:
plot(pub_date_ratings_count_1m, 'total according to year', 'year', 'ratings_count')

In [ ]:
pub_date_ratings_count_1m.plot.bar(x="year", y = 'ratings_count');
plt.xticks(rotation = 90)
plt.title("Ratings count according to year")
plt.rcParams['figure.figsize'] = [16 , 10]
plt.rcParams['axes.titlesize'] = 30
plt.rcParams['xtick.labelsize'] = 30
plt.rcParams['ytick.labelsize'] = 30
plt.xlabel('YEAR', fontsize=30)
plt.ylabel('TOTAL RATINGS COUNT', fontsize=30);

##### 3. Do people read books with maximum number of pages?

In [ ]:
books[books.num_pages == books.num_pages.max()][['title', 'authors', 'average_rating', 'num_pages', 'ratings_count' ]]

In [ ]:
books_huge_num_pages_title = books[['title', 'authors', 'average_rating', 'num_pages', 'ratings_count']][books.num_pages >= 1500]
books_huge_num_pages_title.sort_values(ascending = False, by = 'num_pages').reset_index(drop=True)

## That's all folks!
You can find the detailed explanation as a part of medium article <a href = "https://towardsdatascience.com/do-you-read-c545f652eff3" > here </a> .